<?xml version='1.0' encoding='utf-8'?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        
        <property name="connection.url">jdbc:mysql://ruelholderegger.ch:3306/SysVentorySaas?useSSL=false&amp;serverTimezone=Europe/Paris</property>
        <property name="connection.url.serverTimeZone">Europe/Paris</property>
        <property name="connection.url.useSSL">false</property>
        <property name="connection.username">SysVentoryAdmin</property>
        <property name="connection.password">vdjjmf#n$ri7cr!?+RX7ZVbY5</property>
        
        <!-- JDBC connection pool (use the built-in) -->
        <!-- property name="connection.pool_size">1</property-->
        
        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
    	<property name="hibernate.show_sql_comments">false</property>
 		
 		<!-- Drop and re-create the database schema on startup -->
<!--     	<property name="hbm2ddl.auto">create-drop</property> -->
	   	<property name="hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        
        <!-- Mapping files --> 
        <mapping resource="HibernateCompanyMapping.hbm.xml"/> 
        <mapping resource="HibernateScanSettingMapping.hbm.xml"/>
        <mapping resource="HibernateUserMapping.hbm.xml"/>
        <mapping resource="HibernateDeviceMapping.hbm.xml"/>
        <mapping resource="HibernateGroupMapping.hbm.xml"/>
        <mapping resource="HibernateNetworkInterfaceMapping.hbm.xml"/>
        <mapping resource="HibernateOperatingSystemMapping.hbm.xml"/>
        <mapping resource="HibernatePrinterMapping.hbm.xml"/>
        <mapping resource="HibernateProcessorMapping.hbm.xml"/>
        <mapping resource="HibernateScanJobMapping.hbm.xml"/>
        <mapping resource="HibernateScanStatusMapping.hbm.xml"/>
        <mapping resource="HibernateServiceMapping.hbm.xml"/>
        <mapping resource="HibernateSoftwareMapping.hbm.xml"/>
    </session-factory>
</hibernate-configuration>